// Define variables for your color scheme

// For example:
$red: #FD1015;
$yellow: #FFC65A;
$orange: #E67E22;

// Barometre custom colors

$light-gray: #F4F4F4;
$gray: #515151;
$dark-gray: #313131;

$pink: #FF0054;
$pink-hover: #dc0049;
$blue: #02E2F9;
$green: #00FFA7;
