.card_event_admin {
  max-height: none;

  i {
    color: $pink;
  }
  i:hover {
    color: $pink-hover;
  }

  .card_info_admin {
    gap: .8em;
  }

  .categ_card_event_admin {
    white-space: initial;
  }

  .description_admin {
    white-space: initial;
    text-align: center;
  }

  .tags_admin {
    justify-content: center;
  }

  hr {
    margin: 0;
    border: 1px solid $gray;
  }

  .author-date {
    display: flex;
  }

  .author-date p {
    font-size: .85em;
    color: $gray;
  }
}
