.event-index-month {
  margin-top: 1em;
}
.event-index.hr {
  margin: 0;
}
.event-index-day {
  font-size: 18px;
  font-weight: 500;
  margin: 1em 2em;
}
p.no-results {
  text-align: center;
  margin-top: 100px;
}
