label {
  margin-block: 0.3rem
}
// DAY
.date-wrapper {
  display: flex;
  justify-content: center;
}

.tag-date input {
  position: absolute;
  transform: scale(0);
}
.tag-date .collection_radio_buttons {
  cursor: pointer;
  display: inline-block;
  padding: 0.3rem 0.6rem;
  margin-bottom: 0.4rem;
  border: white 1px solid;
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(255, 255, 255, 0.1);
  font-size: 0.9rem;
}
.tag-date input:checked + .collection_radio_buttons {
  background-color: #03E2F9;
  color: #1c1c1c;
}
.date-wrapper .tag-date:nth-child(2) .collection_radio_buttons {
  border-radius: 5rem 0 0 5rem;
}
.tag-date:last-child .collection_radio_buttons {
  border-radius: 0 5rem 5rem 0;
}
// DAY AFFICHAGE CALENDRIER
.search_special_date {
  display: none;
}
.date-wrapper:has(#search_date_day:checked) + .search_special_date {
  display: block;
  color: white;
}
.form-label.date.required {
  display: none;
}
#search_special_date {
  margin-top: 1rem;
}
//CATEG
.category-wrapper {
  display: flex;
  justify-content: space-around;
}
.category-wrapper {
  .tag-date + :first-child, + :last-child {
  border-radius: 50px;
  border: white 1px solid;
  }
}

.category-item {
  display: inline-block;
  padding: 10px;
}

.category-selector {
  position: absolute;
  transform: scale(0);
}

.category-selector + label {
  cursor: pointer;
  border-radius: 10px;
  width: 178px;
  height: 90px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: start;
  text-justify: end;
}

.search_category {
  margin: 0 !important;
}
.search_subcategory {
  margin: 0 !important;
}

#search_category_théâtre + label {
  border: $pink 1px solid;
  color: white;
  background-color:rgba(255, 255, 255, 0.1) ;
}
#search_category_musique + label {
  border: $blue 1px solid;
  color: $white;
  background-color:rgba(255, 255, 255, 0.1) ;
}
#search_category_théâtre:checked + label {
  background-color: $pink;
  color: white;
  font-weight: bolder;
}
#search_category_musique:checked + label {
  background-color: $blue;
  color: #1c1c1c;
  font-weight: bolder;
}

//SOUSCATEG
.subcategory-item {
  display: inline-block;
}

.subcategory-selector {
  position: absolute;
  transform: scale(0);
}

.subcategory-selector + label {
  cursor: pointer;
  display: inline-block;
  font-size: 0.9rem;
  border-radius: 50rem;
  padding: 0.3rem 0.9rem;
  margin-right: 0.6rem;
  margin-bottom: 0.4rem;
  border: white 1px solid;
  color: rgba(255, 255, 255, 0.7);
  background-color:rgba(255, 255, 255, 0.1) ;
}

.subcategory-selector.musique:checked + label {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  border: $blue 2px solid;
}
.subcategory-selector.theatre:checked + label {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  border: $pink 2px solid;
}
.submit {
  display: flex;
  justify-content: center;
}
.btn-filtre {
  width: fit-content;
  border-radius: 5px;
  background-color: $pink;
  text-align: center;
  padding: 10px 41px;
  color: white;
  h6{
    margin: 0;
  }
}
