// Specific CSS for your home-page

.homepage {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1em 1.5em;

  .blur {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(0.50turn, #000000,rgba(128, 128, 128, .1), #000000), asset-url('image_home.jpg');
    position: absolute;
    filter: blur(.2rem);
    top: 0;
  }
  .infos-wrapper-home {
    z-index: 2;
  }
  h1 {
    font-family: "Pacifico";
    font-size: 4rem;
  }
  h1::first-letter {
    color: $pink;
  }
  p {
    text-align: center;
    font-size: 24px;
    margin-bottom: 0;
  }
}
.logo-img-home{
  margin-top: 6rem;
  z-index: 2;
  max-width: 400px;
}
