// Specific CSS for your home-page

.homepage {
  width: 100%;
  height: 100vh;
  // background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1em 1.5em;
  background-size: cover;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), asset-url('image_home.jpg');
  h1 {
    font-family: "Pacifico";
    font-size: 4rem;
  }
  h1::first-letter {
    color: $pink;
  }

  p {
    text-align: center;
  }
}
.logo-img-home{
 margin-top: 2rem;
}
