.event-forms-h2 {
  margin-bottom: 1em;
  text-align: center;
  font-size: 20px;
}
.event-forms-search {
  display: flex;
  justify-content: center;
}
// Custom (search bar)
.btn-venue-search {
  color: white;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background: $pink;
  transition: background 0.3s ease;
  height: 2em;
  padding: 0 0.5em;
}
.btn-venue-search:hover {
  background: $pink;
  color: white;
}
// Geocode search bar
.geocode-search-bar {
  height: 1em;
}
.btn-event-forms {
  display: block;
  color: $blue;
  background-color: transparent;
  border-radius: 1em;
  border: 2px solid $blue;
  margin: 2em auto 2em auto;
  padding: 0.2em 1em;
}
// input file (photos)
.input-file {
  display: none;
}
.input-file-label {
  // border: 1px solid #ccc;
  display: block;
  margin: auto;
  padding: 6px 12px;
  cursor: pointer;
  text-align: center;
  width: fit-content;

  i {
    font-size: 20px;
  }
}
.input-file-label:hover i {
  color: $pink;
}
