.map {
  background: none;
}

.image-event-show{
  width: 150px;
  height: 150px;
  border-radius: 20px;
}

.filtre_map_list{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 20px 12vh 5px;
}

// background-size: cover; background-position: 50%"
