<h1>Tous les événements</h1>

<% @events.each do |event| %>
  <h2><%= link_to event.name, event_path(event) %><br></h2>
  <p><%= event.venue.name %></p>
  <p><%= event.description %></p>
  <p><%= event.date.strftime('Le %d/%m/%y à %Hh%M') %></p>
<% end %>
