<div class= "card_event_pierre_page">
  <div class="card_event">
    <%= image_tag("barbar.png", class:"img_card_event") %>
    <div class= "card_info_and_categ">
      <div class="card_event_infos">
          <h1>Poom Comedy</h1>
          <p class= "venue_event_card">Poom Poom T'chak</p>
          <p><i class="far fa-calendar-alt"></i> Lundi 20 janvier de 20h à 23h</p>
      </div>
      <div class= categ_card_event>
        <p class= categ_card_event_left>Théâtre</p>
        <p class= categ_card_event_right>Stand-up</p>
        <i class="fa-solid fa-heart"></i>
      </div>
    </div>
  </div>
</div>
