<br>
<%# SEARCH BAR %>
<%= form_with url: events_path, method: :get, class: "d-flex" do %>
  <div class="search-form-control-cust form-group">
    <%= text_field_tag :query,
      params[:query],
      class: "form-control-cust string required",
      placeholder: "Rechercher par mot-clef"
    %>
    <button type="submit"
            class="btn btn-flat-cust">
      <i class="fas fa-search"></i>
    </button>
  </div>
<% end %>
<%# ######### %>
<br>
<%# FILTRE DATE %>
<ul class="baro-tabs baro-list-inline">
  <li class="baro-tab active">
    Ce soir
  </li>
  <li class="baro-tab">
    Demain
  </li>
  <li class="baro-tab">
    Semaine
  </li>
  <li class="baro-tab">
      <i class="fa-regular fa-calendar-days"></i>
  </li>
</ul>
<%# ######### %>
