<div class= "card_event_pierre_page">
  <div class="card_event">
    <%= image_tag("barbar.png", class:"img_card_event") %>
    <div class= "card_info_and_categ">
      <div class="card_event_infos">
          <h2>Poom Comedy</h2>
          <p class= "venue_event_card">Poom Poom T'chak</p>
          <p><i class="far fa-calendar-alt"></i> Lundi 20 janvier de 20h à 23h</p>
      </div>
      <div class= categ_card_event>
        <div class= categ_card_event_left><p>Théâtre</p></div>
        <div class= categ_card_event_right><p>Stand-up</p></div>
        <i class="fa-solid fa-heart"></i>
      </div>
    </div>
  </div>
</div>
