<div class="homepage">
  <%= image_tag "logo.svg", class: "logo-img-home" %>
  <div>
    <p>Baromètre est un projet d'étudiants du Wagon Nantes, tous très beaux, mais très bougons et très désappointés de l'absence d'un agenda culturel recensant les petits évènements des cafés culturels de Nantes. Pour palier à ce grave manque, ils vous présentent Baromètre.</p>

    <%= link_to "Découvrez l'agenda", events_path,
      class: 'baro-home-btn' %>
  </div>

</div>
