<div class="homepage">
  <div class= "blur"></div>
  <%= image_tag "logo.svg", class: "logo-img-home" %>
  <div class="infos-wrapper-home">
    <p>Trouvez facilement les événements de spectacle vivant des bars Nantais</p>
    <%= link_to "Découvrez l'agenda", events_path,
      class: 'baro-home-btn' %>
  </div>
</div>
