<div class="homepage">
  <%= image_tag "logo.svg", class: "logo-img-home" %>
  <div>
    <p>Baromètre est une application qui répertorie les spectacles vivants se déroulant dans les bars Nantais</p>
    <%= link_to "Découvrez l'agenda", events_path,
      class: 'baro-home-btn' %>
  </div>
</div>
