
<div class = "ecran-boutton-theatre">
  <div class = "boutton-theatre boutton-category">
    <div class = "image-boutton-theatre">
      <%= image_tag "icon theatre.png", alt: "icone theatre", width: 33 %>
    </div>
    <h6> Théâtre </h6>
  </div>
  <div class = "boutton-musique boutton-category">
    <div class = "image-boutton-musique">
      <%= image_tag "bxs-music.png", alt: "icone musique", width: 33 %>
    </div>
    <h6> Musique </h6>
  </div>
</div>

<div class = "boutton-rechercher">
  <h6> Rechercher </h6>
</div>
