<!DOCTYPE html>
<html lang="fr">
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <h1>Baromètre : nouveau message</h1>
  <h3>De : <%= @user %></h3>
  <h3>Email spécifié : <%= @user_email == '' ? 'non' : @user_email %></h3>
  <p><%= @content %></p>
</body>
</html>
