.banner-micro {
  background-image: linear-gradient(rgba(0,0,0,0.2) 80%, var(--bs-body-bg)), asset-url("microbw");
  height: 50vh;
  width: 100%;
  background-size: cover;
  background-position: bottom;
  position: absolute;
  top: 0;
  z-index: -100;
}
h1 {
  padding-top: 12px;
  padding-bottom: 40px;
  text-align: center;
  }
.backgd-card {
  width: 100%;
  padding: 0 5% 60px 5%;
  overflow: auto;
  height: fit-content;
  min-height: 75vh; // Ceci est du bricolage

  background: linear-gradient(180deg, #313131 0%, #1C1C1C 69.92%);
  border-radius: 30px 30px 0px 0px;
}
.backgd-card-haute {
  width: 100%;
  padding: 0 5% 60px 5%;
  overflow: auto;
  height: fit-content;
  min-height: 70vh; // Ceci est du nricolage

  background: linear-gradient(180deg, #313131 0%, #1C1C1C 69.92%);
  border-radius: 30px 30px 0px 0px;
}
.backgd-card-padding-top {
  padding-top: 2em;
}
