.ecran-btn-theatre{
  padding: 10px;
  display: flex;
  justify-content: space-between
}

.btn-category{
  border-radius: 10px;
  width: 178px;
  height: 90px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.btn-theatre {
  background-color: $pink;
  h6{
    margin: 0;
    color: white;
  }
}
.btn-musique {
  border: 1px solid grey;
  background-color: $green;
  h6{
    margin: 0;
    color: white;
  }
}

.btn-filtre {
  width: fit-content;
  border-radius: 5px;
  background-color: $pink;
  justify-content: center;
  text-align: center;
  display: flex;
  padding: 10px 41px;
  color: white;
  h6{
    margin: 0;
  }
}
