.card_event {
  max-height: 150px;
  width: auto;
  background: rgb(12, 12, 12);
  display: flex;
  // align-items: center;
  margin: 10px;
  border-radius: 20px;
  padding: 10px;
  a div{
    height: 100%;
  }
  .img_card_event {
    height: 100%;
    width: 80px;
    border-radius: 10px;
    object-fit: cover;
  }
  .venue_event_card {
    font-size: 10px;
    margin: 0;
    color: white;
    opacity: 0.6;
    font-weight:lighter;
  }
  p {
    font-size: 10px;
    font-weight: bold;
    color: white;
    font-weight:lighter;
  }
  i {
    color: white;
  }
  .card_info_and_categ {
    padding-left: 20px;
    width: 100%;
    position: relative;
    flex-direction: row;
    .heart_favory {
      color: $pink;
      position: absolute;
      right: 9px;
      bottom: 1px;
      form {
        opacity: 0;
        transform: scale(0);
        position: absolute;
      }
      i {
        color: $pink;
    }
    }
    p {
      margin: 0px;
    }
  }
  .card_event_infos h2 {
      font-size: 18px;
      font-weight: bold;
      margin: 0;
      color: white;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 20ch;
      overflow: hidden;
  }
  .categ_card_event {
    display: flex;
    // justify-content: flex-start;
    gap: 3px;
    padding-top: 10px;
  }
  .categ_card_event_left {
    border: solid $pink;
    border-radius: 12px;
    text-align: center;
    justify-content: center;
    border-width: 1px;
    display: flex;
    padding: 3px 15px 1px;
    p {
      color: $pink;
    }
  }
  .categ_card_event_right {
    border: solid white;
    border-radius: 12px;
    text-align: center;
    justify-content: center;
    display: flex;
    border-width: 1px;
    padding: 3px 15px 1px;
    p {
      color: white;
    }
  }
}