.mapboxgl-popup-content {
  height: 100px;
  width: 300px;
  background: rgb(12, 12, 12) !important;
  margin: 10px;
  border-radius: 20px !important;
  padding: 10px !important;

  .card_event {
    display: flex;
    align-items: center;
  }

  .mapboxgl-popup-close-button {
    right: 10px;
    top: 10px;
    color: white;
}

  .img_card_event {
    height: 100%;
    width: 80px;
    border-radius: 10px;
    object-fit: cover;
  }

  h2 {
    font-size: 15px;
    font-weight: bold;
    margin: 0;
    color: white;
  }

  .venue_event_card {
    font-size: 10px;
    margin: 0;
    color: white;
    opacity: 0.6;
    font-weight:lighter;
  }

  p {
    font-size: 10px;
    font-weight: bold;
    color: white;
    font-weight:lighter;
  }
  i {
    color: white;
  }

  .card_info_and_categ {
    padding-left: 20px;
    width: 100%;
    padding-right: 15px;
    position: relative;

    .heart_favory {
      color: $pink;
      position: absolute;
      right: 9px;
      bottom: 1px;
    }

    .heart_favory i {
      color: $pink;
    }

    p {
      margin: 0px;
    }
  }


  .card_event_infos {
    color: white;
  }

  .categ_card_event {
    display: flex;
    justify-content: flex-start;
    gap: 3px;
    padding-top: 10px;
  }

  .categ_card_event_left {
    border: solid $pink;
    border-radius: 12px;
    text-align: center;
    justify-content: center;
    border-width: 1px;
    display: flex;
    padding: 3px 15px 1px;

    p {
      color: $pink;
    }
  }

  .categ_card_event_right {
    border: solid white;
    border-radius: 12px;
    text-align: center;
    justify-content: center;
    display: flex;
    border-width: 1px;
    padding: 3px 15px 1px;

    p {
      color: white;
    }
  }

}
