.card-event-show-container {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card-event-show {
  width: auto;
  display: flex;
  margin-bottom: 1em;

  i {
    color: white;
  }
  .img_card_event_show {
    height: 100%;
    width: 100px;
    border-radius: 10px;
    object-fit: cover;
  }
  .icone_map {
    width: 14px;
  }

}

.card_info_and_categ {
  width: 100%;
  position: relative;
  flex-direction: row;
  margin-top: 10px;
  .heart_favory {
    color: $pink;
    position: absolute;
    right: 9px;
    bottom: 1px;

    .icone_heart {
      width: 16px;
    }

    i {
      color: $pink;
    }
  }
  .categ_card_event_show {
    display: flex;
    justify-content: center;
    gap: 0.5em;
    padding-top: 10px;
  }
}


.card_event_infos {
  img {
    margin-bottom: 1em;
  }
  h1 { // event name
    padding: 0px;
    font-weight:700
  }
  h2 { // date
    font-size: 14px;
    color: white;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  h3 { // venue name
    font-size: 14px;
    color: #807A7A;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: bold;
  }
  p { // address
    font-size: 14px;
    color: #807A7A;
    opacity: 0.7;
    padding-left: 1.3em; // Subtile indentation
  }
}

p.show-event-description {
  font-size: 16px;
  color: white;
  opacity: 0.9;
  margin: 1em 0;
}
