// // Container principal
// .show-main {
//   display: flex;
//   flex-direction: column;
//   margin: 10px;
//   padding: 10px;
//   justify-content: center;
//   align-items: center;
//   text-align: center;
// }

.show-back-arrow {
  width: 40px;
  position: absolute;
  left: 1.5em;
  top: 1em;
}

.show-event-info {
  width: 100%;
  margin-top: 10px;
  text-align: center;

  .icone_map {
    vertical-align: bottom;
  }

  .tag {
    font-size: 18px;
    margin-top: 3px;
  }
}

.show-head {
  .image-event-show {  // cloudinary photo
    margin-bottom: 1.5em;
  }
  h1 { // event name
    padding: 0;
    margin-bottom: 1em;
    font-weight: bolder;
  }
  h2 { // date
    padding: 0;
    margin-bottom: 1em;
    font-weight: bolder;
    font-size: 24px;
  }
  h3 { // venue name
    font-size: 18px;
  }
  p { // address
    font-size: 18px;
    opacity: 0.7;
  }
}

.show-tags {
  display: flex;
  justify-content: center;
  gap: 0.5em;
  text-align: center;
  padding-top: 10px;
}

.heart_favory_show {
  color: $pink;
  text-align: right;
  margin-top: 1em;
  // align-self: flex-end;
  // position: absolute;
  // right: 1em;
  // top: 1px;

  .icone_heart {
    width: 25px;
  }

  i {
    font-size: 25px;
    color: $pink;
  }
}


.show-description {
  font-size: 16px;
  color: white;
  opacity: 0.9;
  margin: 1em 0;
}
