.categ_1{
  border: solid $pink;
  border-radius: 12px;
  text-align: center;
  justify-content: center;
  border-width: 1px;
  display: flex;
  padding: 3px 15px 1px;

  p {
    color: $pink;
  }
}

.categ_2{
  border: solid white;
  border-radius: 12px;
  text-align: center;
  justify-content: center;
  display: flex;
  border-width: 1px;
  padding: 3px 15px 1px;

  p {
    color: white;
  }
}

.categ_3{
  border: solid white;
  border-radius: 12px;
  text-align: center;
  justify-content: center;
  display: flex;
  border-width: 1px;
  padding: 3px 15px 1px;

  p {
    color: white;
  }
}

.categ_4{
  border: solid white;
  border-radius: 12px;
  text-align: center;
  justify-content: center;
  display: flex;
  border-width: 1px;
  padding: 3px 15px 1px;

  p {
    color: white;
  }
}
