.navbar-barometre {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
  background-color: $dark-gray;

  .icone_navbar {
    width: 35px;
  }

  .navbar-barometre .navbar-collapse {
    flex-grow: 0;
  }

  .navbar-barometre .navbar-brand img {
    width: 40px;
  }
}

// Sur une div du layout
.navbar-anticache {
  height: 5em;
}
